<% layout('layout/page') -%>
<% block('title', 'Striaming ≥︺‿︺≤'); -%>

    <div>
    <% include partials/videojs %>
    </div>


<main>
    <div class="jumbotron">
    <% include partials/ads %>
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    <% include partials/additional %>
    </div>
</main>

