<% layout('layout/page') -%>
<% block('title', 'Streaming ≥︺‿︺≤'); -%>

<main>
    <div class="col-sm-8">
	<div class="jumbotron">
            <% include ./partials/ads %>

	        <script>
	            var videoid_i = '<%- videoid_s %>';
		</script>

<!--	    <% include partials/videojs_not %> -->
	    <% include partials/video %>
	</div>
    </div>

    <div class="col-sm-4">
        <div class="well">
             <% include ./partials/ads %>
        </div>
    </div>
</main>
