<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Super Video Steraming</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- jQuery's CDN provided by MaxCDN -->
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- 
  <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="/css/app.css"/>

  <script src="/vendor/bower_components/jquery/jquery.js"></script>
  <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>

-->

<style>
    body    { padding-top:50px; }
</style>
