<!-- views/partials/additional.ejs -->

<script type="text/javascript">
var w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
var h = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
document.write("<p>" + "h: " + h + " w: " + w + "</p>");

 </script>