<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Video_streaming
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/streaming">I want to Streaming</a></li>
            <li><a href="/">I want to look stream</a></li>
            <li><a href="/">Donate</a></li>
        </ul>
      
    </div>
</nav>

