<script>
    var videosrc = "http://nodejs-db.cloudapp.net/media/sample.mp4_720pm.mp4";
</script>

<video id="video"
        class="video-js vjs-default-skin"
        height="60%"
        width="100%"
        controls >
</video>
    <source
	id="video_source_src"
       src= "http://nodejs-db.cloudapp.net/media/sample.mp4_320pm.mp4"
       type="video/mp4">

<script>
    videojs.options.flash.swf = 'vendor/videojs/node_modules/video.js/dist/video-js/video-js.swf';
    // initialize the player
    var player = videojs('video');
</script>

<div id='videotimecounter'>    </div>
<div id='div-video-res'>    </div>
<div id='div-video-file'>    </div>

<script>

//    console.log("vid" + videoid_i); //nternal);
    src_id_video = 'http://nodejs-db.cloudapp.net/media/' + videoid_i + '_';

    var $video_obj = _V_("video");
    var video_res = "";
    var whereYouAt = 0;
    var whereYouAtCounter = 0;

    setInterval(function() {

	w_innerWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
	h_innerWidth = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
	var w_id_video = document.getElementById("video").offsetWidth;
	var h_id_video = document.getElementById("video").offsetHeight;
        whereYouAt = player.currentTime();

//        console.log("cutternt timeh: " + whereYouAt);
//        $('#videotimecounter').html("cutternt timer: " + Math.round(whereYouAt) + "<br>" + "h: " + h_innerWidth + " w: " + w_innerWidth + 
//	    "<br> div w: " + w_id_video + "<br> div h: " + h_id_video
//	);
//        console.log("cutternt timer: " + Math.round(whereYouAt) + "<br>" + "h: " + h_innerWidth + " w: " + w_innerWidth + 
//	    "<br> div w: " + w_id_video + "<br> div h: " + h_id_video
//	);

	$(video).height(Math.round(w_id_video)/16*9);

	// get need resolution for video 
	if ( w_id_video <= 539 && video_res != "320pm" ) { video_res = "320pm"; SwitchSource()}
	else if ( w_id_video <= 539 && video_res == "320pm" ) { video_res = "320pm"; }
	else if ( w_id_video >= 540 && w_id_video <= 959 && video_res != "640pm" ) { video_res = "640pm"; SwitchSource() }
	else if ( w_id_video >= 540 && w_id_video <= 959 && video_res == "640pm" ) { video_res = "640pm"; }
	else if ( w_id_video >= 960 && w_id_video <= 1599 && video_res != "720pm" ) { video_res = "720pm"; SwitchSource() }
	else if ( w_id_video >= 960 && w_id_video <= 1599 && video_res == "720pm" ) { video_res = "720pm"; }
	else if ( w_id_video >= 1600 && w_id_video <= 16000 && video_res != "1080pm" ) { video_res = "1080pm"; SwitchSource() }
	else if ( w_id_video >= 1600 && w_id_video <= 16000 && video_res == "1080pm" ) { video_res = "1080pm"; }
	else {video_res = "1";}

//        $('#div-video-res').html("resolution: " + video_res );
//        console.log("resolution: " + video_res );

    }, 1 * 300 /* interval is in milliseconds */ );
    
    //fonction switch source by resolution
    function SwitchSource() {
        $video_obj.ready(function() {
	//	$video_obj.pause();
	//	player.src
	    whereYouAtCounter = whereYouAtCounter + whereYouAt;
	    $video_obj.src({"type":"video/mp4", "src":src_id_video + video_res + ".mp4?start=" + whereYouAtCounter});
	    if ( whereYouAtCounter != 0 ) { $video_obj.play(); }
	//	$video_obj.load();
	//    $('#div-video-file').html("resolution: " + src_id_video +  video_res  + ".mp4?start=" + whereYouAtCounter);
//	    console.log("resolution: " + src_id_video +  video_res  + ".mp4?start=" + whereYouAtCounter);
	});
    }
</script>


