<script>
//    var videosrc = "http://nodejs-db.cloudapp.net/media/sample.mp4_720pm.mp4";
</script>

<div id="log"></div>
<div id='videotimecounter'></div>
<div id='div-video-res'></div>
<div id='div-video-file'></div>

<video id="video"
        height="60%"
        width="100%"
	autobuffer
	controls
	autoplay>
    <p>Requires HTML5 mp4 h264/acc capable browser.</p>
    <p>Requires HTML5 Ogg Theora/Vorbis capable browser.</p>
</video>
    <source
	id="video_source_src"
       src= "http://nodejs-db.cloudapp.net/media/sample.mp4_320pm.mp4"
       type="video/mp4">
<script>

    src_id_video = 'http://nodejs-db.cloudapp.net/media/' + videoid_i + '_';

    var $video_obj = document.getElementById("video");
    var video_obj = document.getElementById("video");
    var video_res = "";
    var whereYouAt = 0;
    var whereYouAtCounter = 0;

    setInterval(function() {

	w_innerWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
	h_innerWidth = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
	var w_id_video = document.getElementById("video").offsetWidth;
	var h_id_video = document.getElementById("video").offsetHeight;
        whereYouAt = video_obj.currentTime;

	$(video).height(Math.round(w_id_video)/16*9);

	// get need resolution for video 
	if ( w_id_video <= 539 && video_res != "320pm" ) { video_res = "320pm"; SwitchSource()}
	else if ( w_id_video <= 539 && video_res == "320pm" ) { video_res = "320pm"; }
	else if ( w_id_video >= 540 && w_id_video <= 959 && video_res != "640pm" ) { video_res = "640pm"; SwitchSource() }
	else if ( w_id_video >= 540 && w_id_video <= 959 && video_res == "640pm" ) { video_res = "640pm"; }
	else if ( w_id_video >= 960 && w_id_video <= 1599 && video_res != "720pm" ) { video_res = "720pm"; SwitchSource() }
	else if ( w_id_video >= 960 && w_id_video <= 1599 && video_res == "720pm" ) { video_res = "720pm"; }
	else if ( w_id_video >= 1600 && w_id_video <= 16000 && video_res != "1080pm" ) { video_res = "1080pm"; SwitchSource() }
	else if ( w_id_video >= 1600 && w_id_video <= 16000 && video_res == "1080pm" ) { video_res = "1080pm"; }
	else {video_res = "1";}

//        $('#div-video-res').html("resolution: " + video_res );
//        console.log("resolution: " + video_res );

    }, 1 * 300 /* interval is in milliseconds */ );
    
    //fonction switch source by resolution
    function SwitchSource() {
	    whereYouAtCounter = whereYouAtCounter + whereYouAt;
//	    var video_obj_src = src_id_video + video_res + ".mp4?start=" + whereYouAtCounter;
	    var video_obj_src = src_id_video + video_res + ".mp4";
	    $("#video").attr("src", video_obj_src);
	    if ( whereYouAtCounter != 0 ) { 
//		$video_obj.currentTime = "50";
		video_obj.currentTime = whereYouAt;
		$video_obj.play();
	    }
//	    $('#div-video-file').html("resolution: " + src_id_video +  video_res  + ".mp4?start=" + whereYouAtCounter);
//	    console.log("resolution: " + src_id_video +  video_res  + ".mp4?start=" + whereYouAtCounter);
    }
</script>

<script src="/js/videotool.js"> </script>

<script>
//    var videoobjvisibleinterval = setInterval(function() {

//	if (isScrolledIntoView(video_obj) && vis()) { video_obj.play(); } else { video_obj.pause(); };

//    }, 1000);

</script>


