<!-- views/pages/streaming.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron">
	            <% include ../partials/ads %>            
                    <h3>parameters for the connection to the streaming server </h3>
                    <p>
			<font size="4">
			<% drinks.forEach(function(drink) { %>
		        Connection string: <%= drink.server %>/<%= drink.strapp %>/<%= drink.name %>
		        <% }); %>
			</font>
		    </p>
                </div>
                
            </div>
            <div class="col-sm-4">
                
                <div class="well">
	             <% include ../partials/ads %>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>

